@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@font-face {
  font-family: "product_sans"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./assets/fonts/product-sans/Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "product_sans";
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 100px;
  color: azure;
}

.purpleText {
  background: linear-gradient(220deg, #c060ff 1.87%, #3a5fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pannelContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.center {
  margin: auto;
  position: relative;
  top: 40%;
  text-align: center;
  max-width: 90%;
}

.canvasStreach {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.textAlCenter {
  text-align: center;
}

.imageVertical {
  width: 25%;
  height: 40%;
}

.imageHorizontal {
  width: 30%;
  height: 30%;
}

.centerButton {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* background-color: #c060ff; */
  background: linear-gradient(220deg, #c060ff 1.87%, #3a5fff 100%);
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
}

/* flaws -> following eyes */
.eyesContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @keyframes blink {
    0% {
      top: -120px;
    }
    95% {
      top: -120px;
    }
    100% {
      top: -50px;
    }
  }
}

.eyes {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.eye {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background-color: #f3efef;
}

.pupil {
  position: absolute;
  background-color: #382e25;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  left: 50px;
  top: 35px;
}

/* Gradient scroll */
.rotate {
  transform: rotate(180deg);
}

.transtext {
  height: 200vh;
  width: 100vw;
  background-color: #c060ff;
  opacity: 0.3;
  z-index: -1;
}

.grandchild {
  background: url("./assets/images/combined_gradient.png") no-repeat center
    center;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 200vh;
  min-height: 192px;
  border: 0 none transparent;
  outline: 0 none transparent;
  background-size: 100% 100%;
  background-position: 0 80vh;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-top: 21%;
}

.unmount {
  z-index: -10 !important;
  opacity: 0;
}
